// ==========Reset Padrão==========
*{margin: 0;padding: 0;box-sizing: border-box; list-style: none;text-decoration: none;}
a{
    color: white;
}

// <!-- CABÇALHO DA PÁGINA -->
header{
    background-color: #d47676;

    // <!-- ÁREA DE NAVEGAÇÂO DA PÁGINA -->
    .navbar{
        min-height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 24px;

        // <!-- Logo -->
        .nav-brading{
            font-family: 'Changa One', cursive;
            font-size: 2rem;
        }

        // <!-- Area dos links -->
        .nav-menu{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 60px;

            // <!-- Links das Seções -->
            .nav-item{

                .nav-link{
                    transition: 0.7s ease;
                    &:hover{
                        color: dodgerblue;
                    }
                }
            }

            // <!-- Icone do Menu Hamburger -->
            .hamburger{
                display: none;
                cursor: pointer;

                .bar{
                    display: block;
                    width: 25px;
                    height: 3px;
                    margin: 5px auto;
                    transition: all 0.3s ease-in-out;
                    background-color: rgb(255, 255, 255);
                }
            }

        }

    }
}

@media (max-width:768px) {
    header{
        .navbar{
            .nav-menu{
                position: fixed;
                left: -100%;
                top: 70px;
                gap: 0;
                flex-direction: column;
                background-color: #4d4d4d;
                width: 100%;
                text-align: center;
                transition: 0.3s;
                &.active{
                    left: 0;
                }
                .nav-item{
                    margin: 16px 0;
                }
                .hamburger{
                    display: block;
                    &.active{
                        .bar:nth-child(2){
                            opacity: 0;
                        }
                        .bar:nth-child(1){
                            transform: translateY(8px) rotate(45deg);
                        }
                        .bar:nth-child(3){
                            transform: translateY(-8px) rotate(-45deg);
                        }
                    }
                }
            }
        }
    }
}